html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;
}

:root {
    --grey: #f0f2f4;
    --black: rgba(0, 0, 0, .6);
    --light: #f9f9f9;
    --borde: rgba(0, 0, 0, .1);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
h1,
h2 {
    margin: 0 0 4rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    text-align: left;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    display: block;
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

/* nabvar */

#sidebar-active {
    display: none;
}

.links-container {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    height: 100vh;
    flex-direction: column;
    padding: 2rem;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform .3s ease;
}

ul {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

li {
    font-size: 1.8rem;
}

li:hover:not(li:last-child) {
    text-align: center;
    width: 100%;
    background-color: #f5f5f5;
}

.profile {
    fill: var(--black);
    display: block;
    background-color: var(--grey);
    border-radius: 50%;
}

ul li:first-child {
    font-size: 2.5rem;
    font-weight: bold;
}

ul li:last-child {
    display: flex;
    align-items: center;
}

li input {
    border: 1px solid #fff;
    background-color: var(--grey);
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

/* mostrar activacion del boton */
#sidebar-active:checked~.links-container {
    transform: translateX(0);
}

.open-sidebar-button {
    width: 100%;
    background-color: var(--light);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: .5rem;
}

.open-sidebar-button,
.close-sidebar-button {
    display: block;
}

@media (min-width: 768px) {
    .links-container {
        /* o inline-flex */
        transform: none;
        width: 100%;
        padding: 0 2rem;
    }

    ul {
        border-bottom: 1px solid var(--borde);
        flex-direction: row;
        align-items: center;
    }

    .static {
        margin-right: auto;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: none;
    }

    li {
        font-size: 1.2rem;
    }

    li:hover:not(li:last-child) {
        background-color: transparent;
        width: auto;
        text-align: initial;
    }

    li input {
        font-size: 1.2rem;
    }
}

@media (min-width: 998px) {
    li {
        font-size: 1.8rem;
    }
     li input {
        font-size: 1.8rem;
    }
    ul {
        gap: 4rem;
    }
}

/* hero */
.hero {
    top: 2rem;
    position: relative;
    min-height: 80vh;
    background: url('/img/3.png') center/cover no-repeat;
    border-radius: 1rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1rem;
}

.hero-container {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-title {
    color: var(--light);
    font-size: 3rem;
    margin: 1rem;
}

.hero-p {
    margin: 1rem;
    color: var(--light);
}

.hero-b {
    display: inline-block;
    min-width: 30%;
    margin: 1rem;
    padding: 1rem;
    color: var(--light);
    background-color: #1177ee;
    border-radius: .5rem;
}

.hero-b:hover {
    background-color: #1166ee;
}

.hero-b:active {
    background-color: #2277ff;
}

@media (min-width: 768px) {
    .links-container {
        position: static;
        height: auto;
        background: none;
        z-index: auto;
    }

    .hero {
        align-items: end;
        justify-content: left;
    }

    .hero-container {
        text-align: start;
        padding: 2rem;
    }

    .hero-title {
        font-size: 5rem;
    }

    .hero-p {
        font-size: 3rem;
    }

    .hero-b {
        min-width: 15%;
        text-align: center;
    }
}

@media (min-width: 998px) {
    .hero-title {
        font-size: 8rem;
    }
}

/* productos */
.productos,
.novedades {
    text-align: center;
}

.productos h2 {
    margin-top: 3rem;
}

.producto {
    width: 30rem;
    /* igual al tamaño de la imagen */
    height: 50rem;
    /* del alto del card completo */

}

.producto-contenedor,
.novedades-contenedor,
.ofertas-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
}

.producto-contenedor::-webkit-scrollbar {
    display: none;
    /* Oculta scrollbar en móviles */
}

.producto {
    padding: .5rem;
}

.producto-img {
    border-radius: 1rem;
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}

.producto-p,
.novedad-p,
.oferta-p {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    color: #666;
}

@media (min-width: 768px) {
    .producto {
        padding: 0;
    }

    .producto-contenedor,
    .novedades-contenedor {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .producto-p {
        margin: 1rem;
    }
}

/* novedades */
@media (min-width: 768px) {
    .novedades-contenedor {
        justify-content: flex-start;
    }

    .novedad {
        width: 50rem;
        /* igual al tamaño de la imagen */
        height: 60rem;
        /* del alto del card completo */
    }

    .novedad-img {
        border-radius: 1rem;
        width: 40rem;
        height: 40rem;
        object-fit: cover;
    }
}

/* ofertas */
.oferta {
    padding: 2rem;
}

.oferta-background {
    border-radius: 1rem;
}

.oferta-background {
    background-color: #205e55;
}

.oferta-background--two {
    background-color: #2d5c69;
}

.oferta-img {
    color: #fff;
    width: 30rem;
    height: 30rem;
}

.oferta-link {
    background-color: #1177ee;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}

.oferta-link:hover {
    background-color: #1166ee;
}

.oferta-link:focus {
    background-color: #2277ff;
}

.oferta-p {
    text-align: justify;
}

@media (min-width: 768px) {
    .ofertas-contenedor {
        align-items: flex-start;
    }

    .oferta {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .oferta-block {
        text-align: start;
    }
}

/* footer */
.footer {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-link,
.footer-p {
    color: #666;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-redes {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-red {
    width: 3rem;
    height: 3rem;
    transition: transform .3s ease;
}

.footer-red:hover {
    transform: scale(1.1);
}

.footer-p {
    margin-bottom: 2rem;
    padding: 2rem;
}

@media (min-width: 768px) {
     .footer{
        margin-top: 5rem;
    }
    .footer-links {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 998px) {
    .footer-links {
        justify-content: space-around;
    }

    .footer-link,
    .footer-p {
        font-size: 2rem;
    }

    .footer-red {
        width: 4rem;
        height: 4rem;
    }

    .footer-redes {
        gap: 8rem;
    }
}
